In [1]:
import pandas as pd

In [47]:
df= pd.read_excel('Data_Train.xlsx')

In [48]:
df

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62
...,...,...,...,...,...,...,...,...,...
6232,Humans: A Brief History of How We F*cked It Al...,Tom Phillips,"Paperback,– 8 Aug 2018",5.0 out of 5 stars,2 customer reviews,'F*cking brilliant' Sarah Knight\n'Very funny'...,Anthropology (Books),Humour,322.00
6233,The Chemist,Stephenie Meyer,"Paperback,– 21 Nov 2016",3.3 out of 5 stars,9 customer reviews,"In this gripping page-turner, an ex-agent on t...",Contemporary Fiction (Books),"Crime, Thriller & Mystery",421.00
6234,The Duke And I: Number 1 in series (Bridgerton...,Julia Quinn,"Paperback,– 8 Jun 2006",3.8 out of 5 stars,3 customer reviews,'The most refreshing and radiant love story yo...,Romance (Books),Romance,399.00
6235,Frostfire (Kanin Chronicles),Amanda Hocking,"Paperback,– 15 Jan 2015",3.5 out of 5 stars,4 customer reviews,Frostfire by Amanda Hocking is the stunning fi...,Action & Adventure (Books),Action & Adventure,319.00
6236,The First Order (Sam Capra),Jeff Abbott,"Paperback,– 21 Dec 2016",3.9 out of 5 stars,2 customer reviews,"Six years ago, Sam Capra watched his brother, ...",Action & Adventure (Books),Action & Adventure,452.00

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   object
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 438.7+ KB

In [50]:
df.shape

(6237, 9)

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [52]:
df['Reviews']= df['Reviews'].apply(lambda x: x.split()[0])
df['Ratings']= df['Ratings'].apply(lambda x: x.split()[0])

In [53]:
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [54]:
df['Reviews']= df['Reviews'].astype('float64')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   float64
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(2), object(7)
memory usage: 438.7+ KB

In [56]:
df['Edition'].unique()

array(['Paperback,– 10 Mar 2016', 'Paperback,– 7 Nov 2012',
       'Paperback,– 25 Feb 1982', ..., 'Paperback,– 26 Sep 2006',
       'Paperback,– 21 Nov 2016', 'Paperback,– 15 Jan 2015'], dtype=object)

In [57]:
df['Reviews'].unique()

array([4. , 3.9, 4.8, 4.1, 5. , 4.5, 4.4, 4.7, 4.2, 4.9, 3.5, 3.8, 4.3,
       3.1, 4.6, 2. , 3.7, 3.2, 2.6, 2.8, 3.4, 2.9, 3.3, 3. , 2.5, 1. ,
       3.6, 2.7, 1.5, 2.3, 1.7, 2.2, 1.4, 2.4, 1.6, 2.1])

In [58]:
def fix_ratings(blob):
    temp = blob.split(',')
    if len(temp) == 1:
        return temp[0]
    else:
        result = ''
        for i in temp:
            result = result+i
        return result

In [59]:
df['Ratings'] = df['Ratings'].apply(fix_ratings)

In [15]:
df['Ratings'].unique()

array(['8', '14', '6', '13', '1', '72', '16', '111', '132', '17', '4',
       '3', '5', '2', '23', '76', '10', '9', '15', '34', '32', '49', '62',
       '61', '7', '18', '98', '12', '97', '285', '29', '27', '267', '24',
       '146', '95', '234', '35', '66', '20', '39', '171', '399', '42',
       '142', '11', '839', '47', '165', '30', '53', '77', '33', '37',
       '54', '28', '50', '197', '26', '114', '46', '51', '161', '135',
       '41', '156', '1416', '93', '221', '36', '154', '74', '45', '240',
       '55', '19', '48', '404', '245', '22', '292', '25', '75', '381',
       '44', '443', '425', '21', '238', '84', '68', '108', '52', '57',
       '109', '89', '304', '96', '419', '205', '85', '960', '71', '167',
       '58', '40', '102', '101', '65', '70', '106', '922', '31', '38',
       '63', '177', '138', '164', '257', '207', '64', '56', '196', '82',
       '1558', '567', '60', '80', '303', '73', '193', '155', '798', '128',
       '87', '90', '286', '565', '137', '99', '403', '277', '902', '59',
       '861', '67', '815', '227', '119', '474', '69', '247', '414', '86',
       '432', '1142', '168', '382', '79', '141', '220', '732', '2048',
       '1097', '226', '649', '160', '140', '2081', '405', '121', '88',
       '342', '190', '83', '250', '217', '115', '224', '43', '136', '230',
       '283', '184', '186', '110', '187', '81', '107', '355', '2084',
       '116', '862', '370', '92', '6090', '215', '893', '261', '129',
       '113', '206', '159', '540', '413', '307', '351', '390', '143',
       '185', '282', '150', '120', '246', '126', '784', '174', '397',
       '172', '158', '863', '291', '225', '1227', '366', '218', '100',
       '337', '973', '310', '301', '212', '764', '279', '255', '251',
       '653', '894', '3135', '958', '134', '127', '420', '139', '800',
       '94', '178', '145', '967', '1392', '264', '122', '219', '505',
       '125', '407', '210', '133', '151', '188', '166', '656', '175',
       '153', '1684', '149', '163', '199', '157', '203', '331', '970',
       '305', '327', '1403', '180', '268', '104', '123', '290', '396',
       '287', '244', '670', '223', '117', '867', '91', '105', '332',
       '152', '379', '278', '144', '606', '1248', '112', '295', '450',
       '298', '899', '570', '871', '356', '249', '179', '545', '494',
       '358', '853', '280', '118', '1563', '1259', '200', '2255', '727',
       '568', '429', '296', '124', '252', '78', '695', '3075', '434',
       '353', '328', '170', '1256', '162', '270', '297', '615', '421',
       '253', '325', '308', '804', '551', '288', '483'], dtype=object)

In [60]:
df['year']= df['Edition'].apply(lambda x: x.split()[-1])

In [61]:
df['year'].unique()

array(['2016', '2012', '1982', '2017', '2006', '2009', '2018', '2015',
       '2013', '1999', '2002', '2011', '1991', '2014', '1989', '2000',
       '2005', '2019', '2008', '2004', '2010', '2007', '2001', '1969',
       '1993', '1992', '2003', '1996', 'Import', '1997', '1995', 'NTSC',
       '1987', '1986', '1990', '1988', '1981', '1976', '1994', '1998',
       '1977', '1974', '1983', '1971', '1985', '1978', 'Facsimile', 'set',
       'Edition', '1964', '1984', '1980', 'Unabridged', '1979', 'Print',
       '1960', '1970', '1975', '1905', '1900', 'Audiobook', '1961',
       '1925', '1973'], dtype=object)

In [62]:
df['Ratings']= df['Ratings'].astype('int32')

In [63]:
df['year'].unique()

array(['2016', '2012', '1982', '2017', '2006', '2009', '2018', '2015',
       '2013', '1999', '2002', '2011', '1991', '2014', '1989', '2000',
       '2005', '2019', '2008', '2004', '2010', '2007', '2001', '1969',
       '1993', '1992', '2003', '1996', 'Import', '1997', '1995', 'NTSC',
       '1987', '1986', '1990', '1988', '1981', '1976', '1994', '1998',
       '1977', '1974', '1983', '1971', '1985', '1978', 'Facsimile', 'set',
       'Edition', '1964', '1984', '1980', 'Unabridged', '1979', 'Print',
       '1960', '1970', '1975', '1905', '1900', 'Audiobook', '1961',
       '1925', '1973'], dtype=object)

In [20]:
def correction(col):
    if col[0] not in [str(i) for i in range (0,10)]:
        return '0000'
    else:
        return col

In [65]:
df['year']= df['year'].apply(correction)

In [66]:
df['year']= df['year'].astype('int64')

In [67]:
df['Binding']= df['Edition'].apply(lambda x: x.split('-')[0].split(',')[0])

In [68]:
df['Binding'].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Sheet music',
       'Flexibound', 'Plastic Comb', 'Loose Leaf', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', 'Cards', 'Spiral', '(Kannada)',
       'Product Bundle', 'Library Binding', '(German)', 'Leather Bound',
       '(French)', '(Spanish)'], dtype=object)

In [69]:
def corr(col):
    if col[0]== '(':
        return 'Hardcover'
    else:
        return col

In [70]:
df['Binding']= df['Binding'].apply(corr)

In [71]:
df['Binding'].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Sheet music',
       'Flexibound', 'Plastic Comb', 'Loose Leaf', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', 'Cards', 'Spiral',
       'Product Bundle', 'Library Binding', 'Leather Bound'], dtype=object)

In [73]:
df.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price', 'year', 'Binding'],
      dtype='object')

In [74]:
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,year,Binding
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00,2016,Paperback
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93,2012,Paperback
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6,"""During the time men live without a common Pow...",International Relations,Humour,299.00,1982,Paperback
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00,2017,Paperback
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62,2006,Hardcover

In [77]:
df['Author'].value_counts()

Agatha Christie    69
Ladybird           49
DK                 48
Herge              34
Albert Uderzo      34
                   ..
Agrawal P. K.       1
Daniel Susskind     1
Sydney Padua        1
Sophie Jordan       1
C. J. Sansom        1
Name: Author, Length: 3679, dtype: int64

In [1]:
class Person:
  def __init__(self, id):
    self.id = id

sam = Person(100)

sam.__dict__['age'] = 49

print (sam.age + len(sam.__dict__))

51